* {
  transition: all 0.3s ease;
  box-sizing: border-box;
}

.marvel-heroes-list {

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: stretch;

}

.card {
  
  border: 1px solid lightsteelblue;
  padding: 20px;
  width: 350px;
  height: 450px;
  margin-right: 20px;
  margin-bottom: 20px;
}

.card .card--placeholder {
  
  opacity: 0.5;
 
  
}